
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px 50px;
}

.main {
  padding: 30px 100px !important;
  width: 100%;
  height: 100%;

}

.head_blue {
  background-color: #283592;
  height: 30px;
  width: 100%;
}

.gnr_section {

  height: auto;
  padding: 20px 0;
}

.gnr_section h2 {
  color: #6e64e8;
}

.gnr_section span {
  color: #25262a;
  opacity: 1;
  line-height: 1.2;
}

.statment_part {

  height: auto;
  margin-top: 0;
  padding: 20px 0;
}

.statment_part h1 {
  color: #283592;
  font-size: 35px;
}

.date_part .dates {
  display: flex;
  margin: 10px 0;
}

.date_part .dates input {
  position: relative;
  top: -5px;
  left: 10px;
}

.date_part .dates label {
  color: #e05dcf;
  width: 125px;
  text-transform: uppercase;
  font-weight: 600;
}

.invoice_for {

  height: auto;
  display: flex;
}

.invoice_for .left_part {
  width: 50%;
}

.invoice_for .right_part {
  width: 50%;
}

.invoice_for p {
  font-weight: 600;
}

.invoice_info {
  display: flex;
  margin: 8px 0;
}

.title_invoce {
  color: #25262a;
  margin-right: 20px;
  width: 120px;
}

.value_invoice {
  color: #25262a;
  opacity: 1;
}

.issusdate {
  margin-top: 40px;
}

hr {
  border-top: 1px solid #25262a;
}

.table_part {
  display: flex;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  color: #625191;
}

td, th {
  text-align: left;
  padding: 8px;
  position: relative;
}

table input {
  width: 100%;
  height: 25px;
}

.add_btn {
  text-align: center;
  width: 100px !important;
  height: 40px !important;
  background-color: #6e64e8;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px !important;
}

.table_total {
  margin-top: 20px !important;
  display: block;
  text-align: right;
}

.export_btn {
  margin-top: 20px !important;
  background-color: #ff4651;
  color: #fff;
  border: none;
  padding: 5px 10px;
  text-align: center;
}

.ng-autocomplete {
  width: 100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
}

table td input {
  /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);*/
  background: transparent;
  height: 40px;
  border: none;
  padding: 0 5px;
}

.fuel_table {
  display: flex;
  margin-top: 20px;
}

.fuel_title {
  color: #568b40;
  text-align: center;
}

.fuel_table {
  margin-top: 50px !important;
  display: flex;
}

.fuel_table .width_50 {
  width: 50%;
}

.fuel_table .width_50:first-child {
  margin-right: 10px;
}

.fuel_table .width_50:last-child {
  margin-left: 10px;
}

.adjust_title {
  color: #306470;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.add_fuel_btn {
  background-color: #6e64e8;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.add_adjustment_btn {
  background-color: #6e64e8;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.width_30 {
  width: 300px;
  margin: auto;
  position: relative;

}

.adjust_total {
  bottom: -40px;
  right: -50px;
}

.accesrie_minus {
  position: absolute;
  bottom: 80px;
  right: -80px;
}

table tr:last-child td {
  vertical-align: bottom;
}

.hidden_input {
  background: transparent;
  width: 100%;
  display: block;
  float: left;
  height: 40px;
  position: relative;
  z-index: 1024;
}

.grand_total_label {
  color: #606061;
  text-align: end !important;
  font-size: 16px;
  font-weight: 400;
}


.grand_total {
  color: #212620;
  text-align: end !important;
  font-size: 18px;
  font-weight: 600;
}
